<div class="modulos">
    <div class="tipo-modulo" id="acesso">
        <h2>Acesso</h2>
        <ul id="urls-acesso" style="display: none;">
            <li><a href="{% url 'acesso:envio_token' %}">token</a></li>
            <li><a href="{% url 'acesso:assinatura' %}">Assinatura</a></li>
            <li><a href="{% url 'acesso:cadastro' %}">Cadastro</a></li>
            <li><a href="{% url 'acesso:comentarios' %}">Comentarios</a></li>
            <li><a href="{% url 'acesso:login' %}">Login</a></li>
        </ul>
    </div>  
    <div class="tipo-modulo" id="usuarios">
        <h2>Usuarios</h2>
        <ul id="urls-usuarios" style="display: none;">
            <li><a href="{% url 'usuarios:pagina_usuarios' %}">Usuarios</a></li>
        </ul>
    </div>    
</div>