body {
    background-color: antiquewhite;
    color: #ffffff;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.2s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 
    -1px -1px 0 #000000,  
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
    animation: transitionIn 1.2s;
}


@keyframes transitionIn{
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
  }

.infos{
    right: 720px;
}

.voltar{
    color: #ffffff;
}

.gutos-ecommerce{
    width: auto;
    margin-top: -50px;
}

.Ge{
    height: 60px;
    width: auto;
    margin-left: -980px;
    margin-top: 15px;
}

.bar {
    background-color: rgba(187, 185, 185, 0.514);
    height: 90px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 4px rgb(32, 32, 32);
}

.modulos {
    position: relative;
    top: 90px;
    width: 100%;
}

.tipo-modulo {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h4 a {
    color: inherit;
    text-decoration: none;
}

h4 a:hover {
    color: #007bff;
    text-decoration: none;
}


.tipo-modulo h2 {
    margin-top: 0;
    font-size: 18px;
}

.tipo-modulo ul {
    list-style: none;
    padding: 0;
}

.tipo-modulo ul li a {
    color: inherit;
    text-decoration: none;
}

.tipo-modulo ul li a:hover {
    color: #007bff;
    text-decoration: none;
}


.images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
  }
  
  .images img {
    max-width: 50%;
    max-height: 50%;
  }



#acesso, #usuarios, #produtos ,#voltar{
    transition: font-size 0.2s ease;
}

#acesso:hover, #usuarios:hover ,#produtos:hover ,#voltar:hover{
    font-size: 20px;
    cursor: pointer;
}

