{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Página dos Produtos</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h4><a href="{% url 'usuarios:pagina_conta' %}" id="voltar">Voltar</a></h4>
    {% else %}
        <h4><a href="{% url 'acesso:pagina' %}" id="voltar">Voltar</a></h4>
    {% endif %}

    <h1>Produtos Disponíveis</h1>
    {% for produto in produtos %}
        <div>
            <h2>{{ produto.nome_produto }}</h2>
            <p>Preço: R$ {{ produto.valor_produto }}</p>
            <img src="{{ produto.foto_produto.url }}" alt="{{ produto.nome_produto }}">
            <form action="{% url 'produtos:adicionar_carrinho' produto.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Adicionar ao Carrinho</button>
            </form>
            <hr>
        </div>
    {% endfor %}
</body>
</html>